body {
    background:paleturquoise
}

.title {
    color:green
}


.link {
    font-size: 20px;
    font-weight:bold;
    background: lightblue;

}

#carbonara{
    background-color: aliceblue;
}

.menu .link{
    font-family:'Courier New', Courier, monospace
}

#pizza{
    background-clip:unset;
    background-color:yellow;
    background-position-x: right;
}

.title{
    text-align: center;

}

.menu{
    padding:10px;
    margin:10px;
    text-align: left;

}

a{
    display:inline-block;
    margin:1px;
    padding:5px
}